<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.shop.backend.mapper.dept.IDeptMapper">
	
	<select id="findList" resultType="dept">
		select id,deptName,fatherId,remark from t_dept
	</select>
	
	<insert id="addDept" parameterType="dept">
		<selectKey keyProperty="id" resultType="int" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into t_dept (deptName, fatherId, remark)
		values (#{deptName}, #{fatherId}, #{remark})
	</insert>

	<update id="updateDept" parameterType="dept">
		update t_dept set deptName=#{deptName},remark=#{remark} where id=#{id}
	</update>
	
	<delete id="deleteDept">
		delete from t_dept where id in 
		<foreach collection="list" separator="," open="(" close=")" item="id">
			#{id}
		</foreach>
	</delete>




	
</mapper>