<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.shop.backend.mapper.log.ILogMapper">
	
	<insert id="addLog" parameterType="logInfo">
		insert into t_log (userName, info, createTime, status, executeTime, content)
		values (#{userName}, #{info}, #{createTime}, #{status}, #{executeTime}, #{content})
	</insert>
	
</mapper>